@charset "UTF-8";
/*==========FONTS============*/
/*==========COLORS===========*/
/*===TRANSITION PARAMETERS===*/
/*==========SHADOWS===========*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/*обнулюяю відступи окремих елементів**/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

/*задаю значення та спосіб відображення всіх елементів img*/
img {
  display: block;
  max-width: 100%;
}

/*Прибирає маркери списку*/
ul {
  list-style: none;
}

/*параметри контейнера*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*параметри секій*/
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*Заголовки секцій*/
.section-title {
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*приховує заголовок секції*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

/*====BUTTON====*/
.button, .subscription__button, .main-form__btn {
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .subscription__button:hover, .main-form__btn:hover, .button:focus, .subscription__button:focus, .main-form__btn:focus {
  background-color: #188ce8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*Логотип*/
.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.logo__half {
  color: #000000;
}

/*параметри логотипу у футері*/
.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0px;
}

.footer__logo-half {
  color: #ffffff;
}

/*перелаштовує на flex елементи всередині header*/
.header__container {
  padding: 16px 15px;
}

@media (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*Навігація сайту*/
.site-nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .site-nav-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link {
  display: block;
  padding: 32px 0;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link--curent {
  position: relative;
  color: #2196f3;
}

.site-nav__link--curent::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

/*Контакти*/
.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media (max-width: 767px) {
  .header-contact {
    display: none;
  }
}

.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover, .header-contact__link:focus {
  color: #2196f3;
}

.header-contact__item:first-child {
  margin-right: 50px;
}

.header-contact__icon {
  fill: #757575;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover .header-contact__icon {
  fill: #2196f3;
}

/*===Hero===*/
.section.hero {
  background-color: #2f303a;
  text-align: center;
  margin: 0 auto;
  width: inherit;
  max-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 1), (-webkit-min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
  .section.hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_mobile.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_mobile.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section.hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_mobile2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_mobile2x.jpg);
  }
}

/*основний заголовок*/
.hero__title {
  margin: 0 auto;
  max-width: 360px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

/*кнопка "замовити послугу"*/
/*переваги*/
.features {
  /* padding-bottom: 0;*/
}

.features__list {
  /*display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);*/
}

.features__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__item {
  /*margin-left: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);*/
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.features__text {
  font-weight: 400;
  line-height: 1.71;
}

/*контент секції 3*/
.business {
  display: none;
}

@media screen and (min-width: 768px) {
  .business {
    display: block;
  }
}

.business__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.business__item {
  position: relative;
  margin-left: 30px;
  -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
      flex-basis: calc((100% - 3 * 30px) / 3);
}

.business__title {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 27px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/*Секція 4  команда*/
.team {
  background: #f5f4fa;
}

.team__list {
  /*display: flex;
  flex-wrap: wrap;
  margin-left: -30px;*/
}

/*карточки "команда"*/
.team__item {
  /*
  margin-left: 30px;
  flex-basis: calc((100% - 30px * 4) / 4);*/
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

/*заголовки карток*/
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*заголовки карток - згруповані*/
.team__discription {
  padding: 30px 32px 30px 32px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*===СОЦІАЛЬНІ МЕРЕЖІ===*/
.social-networks, .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-networks__item:not(:last-child), .footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link, .footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link:hover, .footer-social__link:hover, .social-networks__link:focus, .footer-social__link:focus {
  background-color: #2196f3;
}

.social-networks__icon, .footer-social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link:hover .social-networks__icon, .footer-social__link:hover .social-networks__icon, .social-networks__link:hover .footer-social__icon, .footer-social__link:hover .footer-social__icon,
.social-networks__link:focus .social-networks__icon,
.footer-social__link:focus .social-networks__icon,
.social-networks__link:focus .footer-social__icon,
.footer-social__link:focus .footer-social__icon {
  fill: #ffffff;
}

/*===regular-customers===*/
.regular-customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.regular-customers__item {
  margin: 15px;
  -ms-flex-preferred-size: calc((100% - 15px * 4) / 2);
      flex-basis: calc((100% - 15px * 4) / 2);
}

.regular-customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: solid 1px #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__link:hover, .regular-customers__link:focus {
  border: solid 1px #2196f3;
}

/*===Лого клієнтів===*/
.regular-customers__logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__link:hover .regular-customers__logo,
.regular-customers__link:focus .regular-customers__logo {
  fill: #2196f3;
}

/*footer*/
.footer {
  background: #2f303a;
  padding: 60px 0;
}

/*адреса*/
.footer__location {
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
  margin-bottom: 9px;
}

/*контактні дані*/
.footer__contact {
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact:hover, .footer__contact:focus {
  color: #2196f3;
}

.footer__item:first-child {
  margin-bottom: 9px;
}

/*footer social list*/
.footer__display {
  text-align: center;
  /*display: flex;
  align-items: baseline;*/
}

.footer-social-container {
  margin-top: 60px;
}

.footer-subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*===СОЦІАЛЬНІ МЕРЕЖІ===*/
.footer-social__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social__icon {
  fill: #ffffff;
}

/*footer form*/
.subscription {
  margin-top: 60px;
}

.subscription__form {
  /*display: flex;*/
}

.subscription__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__email:focus-within {
  outline: none;
  border-color: #2196f3;
}

.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /*margin-left: 12px;*/
}

.subscription__icon {
  fill: #ffffff;
  margin-left: 10px;
}

/*===Backdrop===*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/*===Модальне вікно===*/
.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 75%;
  width: 95%;
  overflow: scroll;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

/*===Кнопка закриття модального вікна*/
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button__image {
  width: 18px;
  height: 18px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button__image:hover, .close-button__image:focus {
  fill: #2196f3;
}

/*===Форма===*/
.main-form {
  padding: 40px;
}

.main-form__title {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 700;
  font-size: 20px;
  line-height: 1.5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*===Інпути: ім'я, телефон, мейл===*/
.input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input:not(:last-child) {
  margin-bottom: 10px;
}

/*===Параметри поля вводу===*/
.input__field {
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 12px 12px 42px;
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__field:focus-within {
  border-color: #2196f3;
  outline: none;
}

/*===Назви інпутів===*/
.input__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

/*===Іконки інпутів===*/
.input__icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: 18px;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  left: 12px;
  top: 29px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__lable:focus-within .input__icon {
  fill: #2196f3;
}

/*===Поле коментарів===*/
.input__coment {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*==Стилі плейсхолдера==*/
}

.input__coment:focus-within {
  border-color: #2196f3;
  outline: none;
}

.input__coment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(165, 151, 151, 0.5);
}

.input__coment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(165, 151, 151, 0.5);
}

.input__coment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(165, 151, 151, 0.5);
}

.input__coment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(165, 151, 151, 0.5);
}

/*===Чекбокс===*/
.check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}

.check-box__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  /*margin-left: auto;
  margin-right: auto;*/
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/*==Маркер чекбоксу==*/
.check-box__marck {
  width: 16px;
  height: 15px;
  position: absolute;
  left: -100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*==Іконка "чекед"==*/
.check-box__image {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  fill: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box__marck:checked + .check-box__image {
  width: 16px;
  height: 15px;
  fill: #ffffff;
  border-color: #2196f3;
  background-color: #2196f3;
  background-origin: border-box;
}

/*==Текст чекбоксу==*/
.check-box__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

.check-box__link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}

/*===Кнопка "Відправити"===*/
.main-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

/*Portfolio*/
/*Фільтр*/
@media screen and (max-width: 1199px) {
  .portfolio.section {
    padding: 60px 0;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item:not(:nth-child(n + 4)) {
  margin-bottom: 15px;
}

/*конпки фільтра*/
.filter__button {
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter__button--curent {
  color: #ffffff;
  background-color: #2196f3;
}

/*Проекти*/
.project {
  /*display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;*/
}

/*карточки*/
.project__item {
  /*margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px * 3) / 3);*/
  background-color: var(--primary-bgc);
}

.project__item:not(:last-child) {
  margin-bottom: 30px;
}

.project__link {
  display: block;
  height: 100%;
  font-family: Roboto;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover, .project__link:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*заголовки карток - згруповані*/
.project__description {
  padding: 20px 24px;
  border: solid 1px #eeeeee;
  border-top: none;
}

/*заголовки карток*/
.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

/*Оверлей*/
.project__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(calc(100% + 1px));
          transform: translateY(calc(100% + 1px));
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .overlay,
.project__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover .menu-toggle__icon,
.menu-toggle:focus .menu-toggle__icon {
  fill: #2196f3;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  overflow: scroll;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__link,
.mobile-contacts__link,
.mobile-socials__link {
  text-decoration: none;
}

.mobile-menu__link {
  position: relative;
  font-style: Medium;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 2%;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-menu__link:hover::after, .mobile-menu__link:focus::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-size: 24px;
  line-height: 1.17;
  color: #757575;
}

.mobile-contacts__link--color {
  color: #2196f3;
  font-size: 34px;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.mobile-socials__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-socials__link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 2%;
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */