/*Секція 4  команда*/
.team {
  background: $secondary-bgc;
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

/*карточки "команда"*/
.team__item {
  background: $primary-bgc;
  box-shadow: $teamCard-modal-shadow;
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - (4 * 15px)) / 2);
  }

  @media screen and (min-width: 1200px) {
    margin: 15px;
    flex-basis: calc((100% - (8 * 15px)) / 4);
  }
}
.team__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

/*заголовки карток*/
.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary;
}
.team__position {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

/*заголовки карток - згруповані*/
.team__discription {
  padding: 30px 32px 30px 32px;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
}

/*===СОЦІАЛЬНІ МЕРЕЖІ===*/
.social-networks {
  display: flex;
  margin-top: 16px;
  margin-left: 0px;
  justify-content: center;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background-color: $primary-bgc;
  border-radius: 50%;

  transition: background-color $transParam;

  &:hover,
  &:focus {
    background-color: $accent;
  }
}

.social-networks__icon {
  width: 20px;
  height: 20px;

  fill: $logo-fill;

  transition: fill $transParam;

  .social-networks__link:hover &,
  .social-networks__link:focus & {
    fill: $text-white;
  }
}
